<html>
<%= form_for :imaxe, url: imaxes_path do |i| %>
  <p>
    <%= i.label :nome %><br>
    <%= i.text_field :nome %>
  </p>
 
  <p>
    <%= i.label :file %><br>
    <%= i.file_field :file %>
  </p>
 
  <p>
    <%= i.submit %>
  </p>
<% end %>

</html>
